body {
  background-color: grey;
  padding:0;
  margin:0;
  height:100%;
  width:100%;

}

.wrap {
  border: 1px solid white;
  padding: 1px;
  height: 850px;
  width: 75%;
  margin: auto;
  margin-top: 40px;
  margin-bottom:40px;
}

.header {
  height:15%;
  width:100%;
  clear: both;
  background-color:#000000;

}

.footer {
  clear: all;
  background-color: black;
  height: 15%;
  width:75%;
  margin: auto;
}

.center {
  background-color: white;
  height:70%;
  width:75%;
  margin: auto;
  clear: all;
}
